<li>
	{{name}}

	<button class="delete-burger" data-id="{{this.id}}">Eat it!</button>
	<button class="change-eat" data-id="{{id}}" data-newsleep="{{eat}}">
		{{#if eat}}Order Another?{{else}}Eat it!{{/if}}
	</button>

</li>
